/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ff69b4; /* Navbar color */
}

/* .navbar-logo h1 {
  color: white;
  font-size: 24px;
} */

.navbar-logo {
  color: white;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.navbar-links li {
  /* margin: 0 15px; */
  padding: 15px;
}

.navbar-links li:hover {
  background-color: rgb(255, 146, 237);
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

.navbar-toggle {
  background-color: #f6ff78;
  color: black;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

body.dark-mode .navbar {
  background-color: #000000;
}

body.dark-mode .navbar-links li:hover {
  background-color: rgb(87, 87, 87);
}
