.testimonies-container {
  min-height: 100vh;
  background-color: #FEFCBF; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.testimonies-wrapper {
  max-width: 36rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: auto; 
  position: relative; 
}

.testimony-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 36rem;
  margin: 0; 
}

.testimony-new {
  position: relative;
  margin-left: 23%;
  width: 1000px;
  height: 1000px;
  /* background-color: white; */
}

.testimony-img {
  margin-left: auto; 
  margin-right: auto;
  width: 120px;
  height: 120px;
  border-radius: 50;
  border: 4px solid;
  object-fit: cover;
  margin-bottom: 1rem;
  display: block;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.nav-button {
  background-color: #FBB6CE;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #F687B3; 
}

.title {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}




.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #FBB6CE;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.testimonial {
  background-color: #f9f9f9;
  margin: 15px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 700px;
}

.quote {
  font-size: 1.2rem;
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
}

.name {
  text-align: right;
  font-weight: bold;
  color: #777;
}

.testimonial:nth-child(even) {
  background-color: #f1f1f1;
}

.testimonial:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  #testimonials-container {
    padding: 10px;
  }

  .testimonial {
    padding: 15px;
  }
}